.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_container {
  width: 100%;
  height: 100%;
  margin-top: 82px;

  // background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_container .form_item {
  width: 100%;
  height: auto;
  padding: 0px 40px;
  box-sizing: border-box;
  // background-color: palegoldenrod;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form_container .form_item:nth-child(n + 2) {
  margin-top: 78px;
}

.form_container .form_item .form_label {
  width: 115px;
  // background-color: darkkhaki;
}

.form_container .form_item .form_label .label {
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.form_container .form_item .form_input {
  flex: 2;
  margin-left: 65px;
  // background-color: orange;
}

.form_container .form_item .form_input .input {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(164, 164, 164, 1);
}

.btn_container {
  width: 100%;
  height: auto;
  margin-top: 184px;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn_container .btn_container_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: red;
}

.btn_container_top .agree_icon {
  // width: 28px;
  // height: 28px;
  // margin-right: 22px;
  zoom: 0.7;
}

.btn_container_top .agree_text {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
.btn_container_top .agreement {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #6a7cea;
}

.btn_container .btn_container_bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: orange;
}

.btn {
  width: 690px;
  height: 99px;
  background: linear-gradient(
    85deg,
    rgba(254, 73, 88, 1),
    rgba(254, 101, 51, 1)
  );
  border-radius: 50px;
  margin-top: 48px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn .next_text {
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

// 初始
.popupBox {
  width: 100%;
  height: 0%;
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  touch-action: none;
  // display: none;
  visibility: hidden;
}

.popupBoxShow {
  animation: showPopup 0.5s forwards;
}

.popupBoxHidden {
  animation: hiddenPopup 0.5s forwards;
}

@keyframes showPopup {
  from {
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: rgba(102, 102, 102, 0);
  }
  to {
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: rgba(102, 102, 102, 0.6);
  }
}

@keyframes hiddenPopup {
  0% {
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.6);
  }
  100% {
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0);
    visibility: hidden;
  }
}

.popupBox .popup_container {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 1);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: -455px;
  left: 0px;
  right: 0px;
  z-index: 9999;
}

.popup_container_up {
  animation: containerUp 0.5s forwards;
}
.popup_container_down {
  animation: containerDown 0.5s forwards;
}

@keyframes containerUp {
  from {
    bottom: -455px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes containerDown {
  from {
    bottom: 0px;
  }
  to {
    bottom: -455px;
  }
}

.popup_container .popup_icon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup_icon {
  width: 297px;
  height: 234px;
  margin-top: 67px;
}

.popup_type {
  margin-top: 48px;
  font-size: 40px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.popup_content {
  width: 100%;
  height: 100%;
  margin-top: 61px;

  // background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup_content .popup_content_item {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.popup_content .order_sn {
  margin: 0px 10px;
  color: #fe4a57;
}

.popup_content .popup_text {
  width: 659px;
  height: 744px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: rgba(102, 102, 102, 1);
  // line-height: 36px;
  padding-bottom: 100px;
}

.popup_btn_content {
  width: 100%;
  height: 100%;
  // background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
  margin-bottom: 75px;
}

.popup_btn_content .btn_item {
  width: 50%;
  margin-left: 41px;
  // background-color: red;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup_btn_content .back {
  width: 280px;
  height: 80px;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 40px;
}

.popup_btn_content .back .btn_item_text {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(197, 197, 197, 1);
  line-height: 55px;
}

.popup_btn_content .confirm {
  width: 280px;
  height: 80px;
  background: linear-gradient(
    85deg,
    rgba(254, 73, 88, 1),
    rgba(254, 101, 51, 1)
  );
  border-radius: 40px;
}

.popup_btn_content .confirm .btn_item_text {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 55px;
}
