// .swiperContainer {
//   height: 816px;
//   background-color: red;
// }
.swiperContent {
  height: 940px;
}

.swiper-item {
  width: 100%;
  height: 100%;
}

.swiper-item-img {
  width: 100%;
  height: 100%;
}
