.container {
  color: red;
  // background-color: orange;
}

.logo_container {
  width: 100%;
  height: 420px;
  // background-color: peru;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo_container .leftLogo {
  width: 374px;
  height: 152px;
}
.logo_container .rightLogo {
  width: 200px;
  height: 221px;
}

.menu {
  width: 100%;
  height: 100%;
  // background-color: olive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.item {
  width: 100%;
  height: 200px;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  // margin-left: 50px;
}

.item .item_content_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item .item_content_top .title_icon {
  // background-color: blue;
}

.item .item_content_top .title_text {
  font-size: 42px;
  font-family: Source Han Sans SC;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  margin-left: 20px;
  // background-color: blue;
}

.item .item_content_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.item .item_content_bottom .item_content_bottom_text {
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
  font-size: 22px;
  // width: 385px;
  // height: 24px;
  display: block;
}

// 礼服预约
.dress {
  background-image: url('https://wd.chenxianlei.com/wxchat/dress_appointment_bg@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.dress .item_content_top .title_icon {
  width: 41px;
  height: 45px;
}

//场景预约
.scene {
  background-image: url('https://wd.chenxianlei.com/wxchat/scene_appointment_bg@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.scene .item_content_top .title_icon {
  width: 63px;
  height: 63px;
}

//鲜花预约
.flower {
  background-image: url('https://wd.chenxianlei.com/wxchat/flower_appointment_bg@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.flower .item_content_top .title_icon {
  width: 45px;
  height: 46px;
}

.coupon_container {
  width: 140px;
  height: 160px;
  background-image: url('https://wd.chenxianlei.com/wxchat/coupon.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  right: 0px;
  bottom: 250px;
  // background-color: burlywood;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coupon_container .coupon_text {
  width: 64px;
  height: 68px;
  // line-height: 68px;
  // display: inline-block;
  font-size: 28px;
  font-family: Source Han Sans SC;
  font-weight: 550;
  color: rgba(255, 255, 255, 1);
  margin-left: 10px;
  margin-top: 20px;
  // background-color: red;
  text-align: center;
}
