.index {
  color: red;
}

.menu {
  width: 100%;
  background-color: orange;
}

.item {
  width: 100%;
  height: 120px;
  background-color: red;
}

.item .item_bg {
}
.item .item_content {
}

.item .item_content .title_icon {
}
.item .item_content .title_text {
}

.dress {
  // background: url('../../assets/images/dress_appointment_bg@2x.png');
  background-size: contain;
}

.scene {
}

.flower {
}
