.container {
  width: 100%;
  height: 100%;
  // background-color: palegoldenrod;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // position: absolute;
  // top: 0px;
  // bottom: 0px;
  // left: 0px;
  // right: 0px;
}

.bank_list {
  width: 100%;
  height: 100%;
  margin-top: 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bank_list .bank_item {
  width: 690px;
  height: 240px;
  background: linear-gradient(
    241deg,
    rgba(11, 186, 251, 1),
    rgba(66, 133, 236, 1)
  );

  border-radius: 15px;
  // overflow: hidden;
  // padding: 0px 30px;
  // box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.bank_list .bank_item:nth-child(n + 2) {
  margin-top: 21px;
}

.bank_list .bank_item .bank_info {
  // width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: yellow;
  position: absolute;
  z-index: 9;
}

.bank_list .bank_item .bank_info .left {
  // flex: 2;
  height: 100%;
  // margin-left: 25px;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 999;
}

.bank_list .bank_item .bank_info .left .bank_icon {
  width: 61px;
  height: 61px;
  overflow: hidden;
  margin-left: 45px;
  border-radius: 61px;
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;

  margin-top: 45px;
}

.bank_list .bank_item .bank_info .left .bank_icon .icon {
  width: 43px;
  height: 43px;
  padding: 10px;
}

.bank_list .bank_item .bank_info .right {
  height: 100%;
  margin-left: 25px;

  // background-color: palevioletred;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;
  z-index: 8;
}

.bank_list .bank_item .bank_info .right .bank_name {
}

.bank_list .bank_item .bank_info .right .bank_name .name_text {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 19px;
}

.bank_list .bank_item .bank_info .right .bank_type {
  margin-top: 7px;
}

.bank_list .bank_item .bank_info .right .bank_type .bank_type_text {
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 19px;
}

.bank_list .bank_item .bank_info .right .bank_number {
  // width: 372px;
  margin-top: 48px;
}

.bank_list .bank_item .bank_info .right .bank_number .number {
  // background-color: aqua;
  color: rgba(255, 255, 255, 1);
}

.bank_list .bank_item .bank_icon_bg {
  width: 231px;
  height: 197px;
  justify-self: flex-end;
  align-self: flex-end;
  // background-color: #eccba4;
  position: absolute;
  z-index: 8;
  right: 0px;
  bottom: 0px;
}

.bank_list .bank_item .bank_icon_bg .icon_bg {
  width: 231px;
  height: 197px;
}

.add_container {
  width: 100%;
  margin-top: 80px;

  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_container .add_icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-sizing: border-box;
  background-color: #eccba4;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add_container .add_icon .icon {
  width: 50px;
  height: 50px;
  padding: 25px;
}

.add_container .add_notice {
  width: 100%;
  height: 100%;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_container .add_notice .title {
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
.add_container .add_notice .notice {
  margin-top: 22px;
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(164, 164, 164, 1);
}
