.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  margin-top: 82px;
}

.content .item {
  width: 100%;
  height: 35px;
  padding: 25px 30px;
  box-sizing: border-box;
  // background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content .item:nth-child(n + 2) {
  margin-top: 77px;
}

.content .item .title {
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
.content .item .arrow_icon {
  width: 16px;
  height: 28px;
}

.btn_container {
  width: 100%;
  height: 100px;
  margin-top: 186px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn_container .upload_agreement {
  width: 690px;
  height: 99px;
  background: linear-gradient(
    85deg,
    rgba(254, 73, 88, 1),
    rgba(254, 101, 51, 1)
  );
  border-radius: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn_container .upload_agreement .upload_icon {
  width: 42px;
  height: 42px;
}

.btn_container .upload_agreement .upload_text {
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-left: 38px;
}
