.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.head_container {
  width: 100%;
  height: 60px;
  padding: 0px 30px;

  // margin-top: 115px;
  // background-color: red;

  background-color: #eeeeee;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  // top: 84px;
  left: 0px;
  z-index: 999;
}

.head_container .head_item {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.head_container .head_item:last-child {
  margin-left: 87px;
}

.head_container .head_item .head_item_label {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 36px;
}
.head_container .head_item .head_item_total {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(255, 50, 80, 1);
  line-height: 36px;
}

// 订单顶部状态导航
.status_nav {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  // top: 210px;
  left: 0px;
  z-index: 999;
}

.status_nav .status {
  width: 94px;
  height: 78px;
}

.status_nav .status .status_text {
  display: block;
  // background-color: red;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 26px;
  text-align: center;

  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 36px;
}

.status_nav .active {
  color: #fe4958;
  border-bottom: 2px solid #fe4958;
}

.status_nav .active .status_text {
  color: #fe4958;
}

// 订单主体
.order_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 330px;
}

// 订单列表
.order_container .order_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order_container .order_list .order_item {
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order_container .order_list .order_item:first-child {
  // padding-top: 37px;
}

.order_container .order_list .order_item:nth-child(n + 2) {
  margin-top: 20px;
}

// 订单item 头
.order_item .item_header {
  width: 100%;
  height: 40px;

  padding: 38px 0px;

  box-sizing: border-box;
  // background-color: orange;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order_item .item_header .item_user {
  width: 274px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order_item .item_header .item_user .photo_icon {
  width: 37px;
  height: 37px;
}

.order_item .item_header .item_user .user_info {
  width: 218px;
  height: 27px;
  margin-left: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.order_item .item_header .item_user .user_info .user_info_label {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
.order_item .item_header .item_user .user_info .user_info_name {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.order_item .item_header .item_user .name {
  width: 223px;
  height: 27px;
  display: block;
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 36px;
}

.order_item .item_header .item_status {
  width: 150px;
  height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.order_item .item_header .item_status .item_status_text {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(254, 73, 88, 1);
  line-height: 32px;
  opacity: 0.97;
}

// 订单item 主体
.order_item .item_content {
  width: 100%;
  height: 100%;
  // background-color: orangered;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order_item .item_content .item_goods {
  width: 100%;
  height: 100%;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order_item .item_content .item_goods .goods_item {
  width: 100%;
  height: 150px;
  margin-top: 40px;
  // background-color: orchid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.order_item .item_content .item_goods .goods_item .goods_image {
  width: 150px;
  height: 150px;
  // background-color: green;
}

.order_item .item_content .item_goods .goods_item .goods_name {
  // background-color: blue;
  margin-left: 21px;

  font-size: 26px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.order_item .item_footer {
  width: 100%;
  height: 100%;
  margin-top: 46px;
  margin-bottom: 30px;
  // background-color: olivedrab;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.order_item .item_footer .total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.order_item .item_footer .total .total_text {
  font-size: 26px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 36px;
}

.order_item .item_footer .footer {
  margin-top: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.order_item .item_footer .footer .footer_btn {
  width: 156px;
  height: 54px;
  // margin: auto;
  line-height: 54px;

  border-radius: 27px;

  font-size: 26px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  opacity: 0.6;
}

.order_item .item_footer .footer .footer_btn:nth-child(n + 2) {
  margin-left: 30px;
}

.order_item .item_footer .footer .look_logistics {
  color: rgba(215, 190, 135, 1);
  border: 1px solid rgba(215, 190, 135, 1);
}

.order_item .item_footer .footer .confirm_receipt {
  color: rgba(254, 73, 88, 1);
  border: 1px solid rgba(254, 73, 88, 1);
}

.order_item .item_footer .footer .delete_order {
  color: rgba(153, 153, 153, 1);
  border: 1px solid rgba(153, 153, 153, 1);
}
