@import '@styles/common.scss';

.container {
  width: 100%;
  height: 100%;
  background-color: #f6f3f7;
}

.swiper_container {
  width: 100%;
  height: 400px;
  background-color: #fff;
}

.swiper_container .swiper_content {
  width: 100%;
  height: 400px;
}

.swiper_container .swiper_content .swiper_item {
  width: 100%;
  height: 100%;
}

.swiper_container .swiper_content .swiper_item .swiper_item_image {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .user {
  width: 690px;
  height: 125px;
  margin-top: 18px;
  // opacity: 0.6;
  border-radius: 16px;

  background-image: url($imageUrl + 'user_bg@2x.png');
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content .user .left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content .user .left .user_avatar {
  width: 76px;
  height: 78px;
}

.content .user .left .user_info {
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content .user .left .user_info .user_info_item {
  margin-left: 5px;

  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(139, 84, 48, 1);

  background: linear-gradient(
    56deg,
    rgba(104, 66, 20, 1) 0%,
    rgba(186, 118, 74, 1) 46.7529296875%,
    rgba(125, 65, 25, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .user .left .user_info .user_info_item:nth-child(n + 2) {
  margin-top: 10px;
}

.content .user .left .user_info .user_company {
  font-size: 30px;
}
.content .user .left .user_info .user_name {
  font-size: 28px;
}
.content .user .left .user_info .user_notice {
  font-size: 26px;
}

.content .user .right {
  // background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .user .right .bind_btn {
  width: 100px;
  height: 40px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .user .right .bind_btn .bind_btn_text {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(139, 84, 48, 1);
  background: linear-gradient(
    56deg,
    rgba(157, 97, 1, 1) 0%,
    rgba(186, 118, 74, 1) 46.7529296875%,
    rgba(125, 65, 25, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// 客户预约信息
.content .business {
  width: 690px;
  height: 555px;
  margin-top: 22px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .business .list {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: blue;
}
.content .business .list .list_item {
  width: 100%;
  height: 66px;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  // background-color: red;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content .business .list .list_item .item_label {
  width: 200px;
  height: 27px;
  text-align: left;
  // background-color: orange;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.content .business .list .list_item:last-child {
  border-bottom: 0px;
}

.content .business .list .list_item .item_label .item_label_text {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(81, 81, 81, 1);
}

.content .business .list .list_item .item_input {
  // background-color: blue;
  // width: 433px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  // background-color: pink;
  box-sizing: border-box;
}

.content .business .list .list_item .item_input .item_input_content {
  text-align: right;
  margin-right: 10px;
  // background-color: orange;

  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(221, 221, 221, 1);
  // padding: 0px 10px;
  box-sizing: content-box;
  padding: 0px 20px;
}

.content .business .list .list_item .item_input .item_input_placeholder {
  text-align: right;

  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(221, 221, 221, 1);
}

.content .business .list .list_item .item_input .item_input_arrow {
  width: 10px;
  height: 18px;
  margin-right: 10px;
  // background-color: red;
}

.content .business .list .suits .item_input {
  width: 141px;
  height: 39px;
  // background-color: peru;

  background: #f7f4f8;
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .business .list .suits .item_input .item_input_reducer_ctn {
  width: 70px;
  height: 100%;
  background-color: #f8f6f9;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content
  .business
  .list
  .suits
  .item_input
  .item_input_reducer_ctn
  .item_input_reducer {
  width: 16px;
  height: 4px;
}

.content .business .list .suits .item_input .item_input_content {
  width: 68px;
  text-align: center;
  background-color: #fff;
}

.content .business .list .suits .item_input .item_input_plus_ctn {
  width: 70px;
  height: 100%;
  background-color: #f8f6f9;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .business .list .suits .item_input .item_input_plus {
  width: 17px;
  height: 17px;
  // background-color: peru;
}

.content .goods {
  width: 690px;
  height: auto;
  margin-top: 22px;
  background: rgba(255, 255, 255, 1);
  // background: red;
  border-radius: 16px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.content .goods .goods_flower {
  padding-top: 20px;
  padding-bottom: 26px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.content .goods .goods_flower .goods_item_head {
  width: 100%;
  height: 60px;
  // background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.goods_flower .goods_item_head .goods_item_head_left {
  // background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.goods_flower
  .goods_item_head
  .goods_item_head_left
  .goods_item_head_left_text {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(81, 81, 81, 1);
}

.goods_flower .goods_item_head .goods_item_head_right {
  // background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.goods_flower
  .goods_item_head
  .goods_item_head_right
  .goods_item_head_right_btn {
  width: 130px;
  height: 43px;
  background: rgba(245, 245, 245, 1);
  border-radius: 22px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.goods_flower
  .goods_item_head
  .goods_item_head_right
  .goods_item_head_right_btn
  .goods_item_head_right_btn_text {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(50, 50, 50, 1);
}

.goods_flower .goods_item_head .goods_item_head_right .active {
  width: 130px;
  height: 43px;
  background: rgba(254, 73, 88, 0.1);
  border: 1px solid rgba(254, 73, 88, 1);
  border-radius: 22px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.goods_flower
  .goods_item_head
  .goods_item_head_right
  .active
  .goods_item_head_right_btn_text {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(254, 73, 88, 1);
  line-height: 55px;
}

.goods_flower
  .goods_item_head
  .goods_item_head_right
  .goods_item_head_right_btn:first-child {
  margin-right: 10px;
}

.goods_flower .goods_item_content {
  width: 100%;
  height: 100%;
  margin-top: 25px;
  // background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.goods_flower .goods_item_content .goods_item_content_item_text {
}

.goods_flower .goods_item_content .goods_item_img {
  width: 150px;
  height: 200px;
}

.goods_flower .goods_item_content .goods_item_img:nth-child(n + 2) {
  margin-left: 17px;
}

// 接送车服务
.goods_shuttle {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 26px;
  box-sizing: border-box;
  // background-color: purple;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.goods_shuttle:last-child {
  border-bottom: 0px solid rgba(238, 238, 238, 1);
}

.goods_shuttle .goods_item_head {
  width: 100%;
  height: 100%;
  // background-color: palevioletred;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.goods_shuttle .goods_item_head .goods_item_head_title {
  width: 140px;
  height: 100%;
}

.goods_shuttle
  .goods_item_head
  .goods_item_head_title
  .goods_item_head_title_text {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(81, 81, 81, 1);
}

.goods_shuttle .goods_item_head .goods_item_head_right {
  width: 16px;
  height: 16px;
  // background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.goods_shuttle .goods_item_head .goods_item_head_right .head_arrow_right {
  width: 16px;
  height: 10px;
  // background-color: red;
}

.goods_shuttle .goods_item_content {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  // background-color: olive;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.goods_shuttle .goods_item_content .content_item {
  width: 130px;
  height: 43px;
  background: rgba(245, 245, 245, 1);

  border-radius: 22px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.goods_shuttle .goods_item_content .content_item:first-child {
  margin-left: 20px;
}

.goods_shuttle .goods_item_content .content_item:nth-child(n + 2) {
  margin-left: 18px;
}

.goods_shuttle .goods_item_content .content_item .content_item_text {
  font-size: 28px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(50, 50, 50, 1);
}

.goods_shuttle .goods_item_content .active {
  background: rgba(254, 73, 88, 0.1);
  border: 1px solid rgba(254, 73, 88, 1);
}

.goods_shuttle .goods_item_content .active .content_item_text {
  color: rgba(254, 73, 88, 1);
}

// 保险
.content .insurance {
  width: 690px;
  height: 436px;
  margin-top: 24px;
  // background: rgba(255, 255, 255, 1);
  border-radius: 16px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}

.insurance .insurance_tab {
  width: 100%;
  height: 90px;
  background-color: #f6f3f7;
  // background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.insurance .insurance_tab .tab {
  width: 207px;
  height: 101px;
  background: linear-gradient(
    10deg,
    rgba(247, 138, 158, 1),
    rgba(245, 111, 135, 1),
    rgba(254, 152, 139, 1)
  );
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insurance .insurance_tab .tab:nth-child(n + 2) {
  margin-left: 10px;
}

.insurance .insurance_tab .tab:last-child {
  background: linear-gradient(
    10deg,
    rgba(242, 142, 38, 1),
    rgba(253, 100, 79, 1)
  );
}

.insurance .insurance_tab .active {
  background: rgba(255, 255, 255, 1);
}

.insurance .insurance_tab .tab .tab_amount {
  font-size: 26px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}
.insurance .insurance_tab .tab .tab_title {
  font-size: 26px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ffb6ad;
  margin-top: 10px;
}

.insurance .insurance_tab .active .tab_amount {
  color: rgba(254, 73, 88, 1);
}
.insurance .insurance_tab .active .tab_title {
  color: #fca1a9;
}

.insurance .insurance_content {
  width: 100%;
  // height: 249px;

  padding: 42px 20px;

  box-sizing: border-box;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.insurance .insurance_content .content_item {
  width: 100%;
  height: 48px;
  // background-color: blue;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.insurance .insurance_content .content_item:nth-child(n + 2) {
  margin-top: 25px;
}

.content_item .content_item_label {
  width: 60%;
}

.content_item .content_item_label .label_text {
  font-size: 26px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(81, 81, 81, 1);
}

.content_item .content_item_value {
  width: 40%;
  // background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// 协议
.content .agreement {
  width: 690px;
  height: 30px;
  margin: 30px 0px;
  padding: 0px 20px;
  // background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.agreement .agreement_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.agreement .agreement_left .agreement_check {
  width: 29px;
  height: 29px;
  border: 1px solid rgba(191, 191, 191, 1);
  border-radius: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.agreement .agreement_left .agreement_check .checked {
  width: 18px;
  height: 14px;
}

.agreement .agreement_left .agreement_content_text {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.agreement .agreement_left .agreement_content_text .agreement_title {
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(81, 81, 81, 1);
}

.agreement .agreement_left .agreement_content_text .agreement_exemption {
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #ff1931;
}

.agreement .agreement_right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.agreement .agreement_right .arrow_right {
  width: 13px;
  height: 24px;
}

.content .button {
  width: 100%;
  height: 100px;
  margin-bottom: 43px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .button .btn {
  width: 690px;
  height: 100px;
  background: linear-gradient(
    85deg,
    rgba(254, 73, 88, 1),
    rgba(254, 101, 51, 1)
  );
  border-radius: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .button .btn .btn_text {
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
