.categoryContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.categoryContainer .itemContainer {
  width: 100%;
  height: 259px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(239, 239, 239, 1);
  margin-top: 20px;
}

.categoryContainer .itemContainer .itemContainerContent {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: blue;
}

.categoryContainer
  .itemContainer
  .itemContainerContent
  .itemContainerContentTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoryContainer
  .itemContainer
  .itemContainerContent
  .itemContainerContentTop
  .en_name {
  // width: 77px;
  // height: 14px;
  font-size: 18px;
  font-family: Source Han Sans SC;
  font-weight: bold;
  color: rgba(81, 81, 81, 1);
}

.categoryContainer
  .itemContainer
  .itemContainerContent
  .itemContainerContentTop
  .name {
  // width: 146px;
  // height: 34px;
  font-size: 36px;
  font-family: Source Han Sans SC;
  font-weight: bold;
  color: rgba(81, 81, 81, 1);
  margin-top: 10px;
}

.categoryContainer
  .itemContainer
  .itemContainerContent
  .itemContainerContentBottom {
  margin-top: 27px;
}

.categoryContainer
  .itemContainer
  .itemContainerContent
  .itemContainerContentBottom
  .btn {
  display: block;
  width: 149px;
  height: 47px;
  border: 1px solid rgba(81, 81, 81, 1);
  opacity: 0.28;
  text-align: center;
}

.categoryContainer .itemContainer .itemContainerImg {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

.categoryContainer .itemContainer .itemContainerImg .SwiperContainer {
  width: 100%;
  height: 100%;
}

.categoryContainer .itemContainer .itemContainerImg .SwiperContainer .img {
  width: 100%;
  height: 100%;
}
