@import '@styles/common.scss';

.container {
  width: 100%;
  height: 100%;
  // background-color: red;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.list {
  width: 100%;
  padding: 0px 25px;
  margin-top: 90px;
  box-sizing: border-box;
  // height: 100%;
  // background-color: blue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list .item {
  width: 100%;
  height: 72px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // background-color: pink;
}

.list .item:nth-child(n + 2) {
  margin-top: 36px;
}

.list .item .user_info {
  // background-color: darkgoldenrod;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list .item .user_info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50px;
  // background-color: yellow;
}
.list .item .user_info .username {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin-left: 28px;
}

.list .item .arrow {
  // background-color: red;
}

.list .item .arrow .authority {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  margin-right: 42px;
}

.list .item .arrow .icon {
  width: 16px;
  height: 28px;
}

.modal {
  width: 100%;
  height: auto;
  background: rgba(125, 125, 125, 0.5);

  overflow: hidden;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
}

@keyframes fadeBottom_in {
  // 可用于遮罩
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 10px;
  }
}

.modal .modal_content {
  width: 100%;
  height: auto;

  background-color: #ffffff;

  box-shadow: 0px -5px 10px 0px #ccc;
  border-radius: 20px 20px 0px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0px;

  animation: fadeBottom_in 0.5s linear forwards;
}

.modal .modal_content .modal_item {
  width: 100%;
  height: 100px;

  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(39, 38, 55, 1);

  line-height: 100px;
  text-align: center;
  display: block;
}

.modal .modal_content .modal_item_active {
  color: #ffffff;
  background-color: #fe4957;
}

.add_btn {
  width: 690px;
  height: 99px;
  background: linear-gradient(
    85deg,
    rgba(254, 73, 88, 1),
    rgba(254, 101, 51, 1)
  );
  border-radius: 50px;

  position: absolute;
  bottom: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add_btn .add_icon {
  width: 48px;
  height: 48px;
}

.add_btn .add_text {
  margin-left: 37px;
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

// 初始
.popupBox {
  width: 100%;
  height: 0%;

  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  touch-action: none;
  // display: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(81, 81, 81, 0.7);
}

.popupBoxShow {
  animation: showPopup 0.5s forwards;
}

.popupBoxHidden {
  animation: hiddenPopup 0.5s forwards;
}

@keyframes showPopup {
  from {
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: rgba(102, 102, 102, 0);
  }
  to {
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: rgba(102, 102, 102, 0.6);
  }
}

@keyframes hiddenPopup {
  0% {
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.6);
  }
  100% {
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0);
    visibility: hidden;
  }
}

.popup_container_up {
  animation: containerUp 0.5s forwards;
}
.popup_container_down {
  animation: containerDown 0.5s forwards;
}

@keyframes containerUp {
  from {
    visibility: visible;
  }
  to {
    visibility: visible;
  }
}

@keyframes containerDown {
  from {
    visibility: hidden;
  }
  to {
    visibility: hidden;
    // bottom: -455px;
  }
}

.popupBox .save_appoint_ment {
  width: 603px;
  height: 826px;

  // background: red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url($imageUrl + 'business/authority@2x.png');
  background-repeat: no-repeat;
  background-size: cover;

  visibility: hidden;

  // position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  // z-index: 9999;
}

.popupBox .save_appoint_ment .content {
  width: 100%;
  height: 100%;

  // box-sizing: border-box;

  // border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popupBox .save_appoint_ment .content .content_head {
  width: 100%;
  height: auto;
  // background-color: red;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;

  // align-self: stretch;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popupBox .save_appoint_ment .content .content_head .bg {
  width: 36px;
  height: 36px;
  // background-color: blue;
  align-self: flex-start;
  margin-top: 27px;
  margin-left: 34px;
}

.popupBox .save_appoint_ment .content .content_head .title {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  // position: relative;
  // bottom: 180px;
  // text-align: center;
  // z-index: 999;
}

.popupBox .save_appoint_ment .content .content_head .title .title_text {
  // background-color: pink;
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.popupBox .save_appoint_ment .content .content_list {
  width: auto;
  height: auto;
  // height: 100%;
  // background: #fff;
  // background-color: blue;

  // padding-top: 21px;
  // padding-bottom: 107px;

  // align-self: baseline;
  // justify-self: flex-end;
  align-self: center;

  margin-top: 60px;
  // box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // border-bottom-left-radius: 20px;
  // border-bottom-right-radius: 20px;
}

.popupBox .save_appoint_ment .content .content_list .list_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popupBox .save_appoint_ment .content .content_list .list_head .item_label {
  font-size: 26px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: rgba(255, 123, 104, 1);
}

.popupBox .save_appoint_ment .content .content_list .list_qrcode {
  width: 307px;
  height: 307px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 52px;
  margin-bottom: 68px;
}

.popupBox .save_appoint_ment .content .content_list .list_qrcode .qrcode_image {
  width: 307px;
  height: 307px;
}

.popupBox .save_appoint_ment .content .content_list .list_btn {
  // width: 100%;
  // padding: 10px 0px;
  box-sizing: border-box;

  width: 369px;
  height: 60px;
  background: linear-gradient(
    85deg,
    rgba(254, 73, 88, 1),
    rgba(254, 101, 51, 1)
  );
  border-radius: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popupBox .save_appoint_ment .content .content_list .list_btn .btn_text {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
