.bottom-tab {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.bottom-tab-item {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: red;
  color: #ffffff;
}

.bottom-tab-item:first-child {
  flex: 1;
  // background-color: #ffffff;
}

.bottom-tab-item:first-child .bottom-tab-item-img {
  width: 80px;
  height: 64px;
}

.bottom-tab-item:first-child .bottom-tab-item-text {
}

.bottom-tab-item:nth-child(2) {
  flex: 2;
  height: 100%;
  background-color: #b63c2d;
}

.bottom-tab-item:nth-child(2) .bottom-tab-item-img {
  width: 50px;
  height: 50px;
}

.bottom-tab-item:nth-child(2) .bottom-tab-item-text {
  width: 117px;
  // height: 29px;
  font-size: 30px;
  font-family: Source Han Sans SC;
  font-weight: 200;
  color: rgba(255, 255, 255, 1);
  line-height: 40px;
  margin-left: 10.5px;
}

.bottom-tab-item:last-child {
  flex: 2;
  height: 100%;
  background-color: #e4e4e4;
}

.bottom-tab-item:last-child .bottom-tab-item-img {
  width: 52px;
  height: 52px;
}

.bottom-tab-item:last-child .bottom-tab-item-text {
  width: 117px;
  // height: 28px;
  font-size: 30px;
  font-family: Source Han Sans SC;
  font-weight: 200;
  color: rgba(81, 81, 81, 1);
  line-height: 40px;
  margin-left: 10.5px;
}
