.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-color: #f5f4f7;
}

.order_container {
}

.order_goods {
}
.order_content {
}

.order_content .order_head {
}

.order_content .order_item {
}
